@import "tailwindcss";

@theme {
    --font-display: "Satoshi", "sans-serif";

    --color-mint-500: oklch(0.72 0.11 178);
    --color-dark-magenta: oklch(0.5171 0.1611 354.82);
    --color-orange-link: oklch(0.661 0.2276 33.58)
    /* ... */
}