<div class="items-center justify-center flex flex-col h-screen bg-cover bg-center">
    <div class="hero-content">
        <h1>Welcome to Astro Basics</h1>
        <p>Learn the fundamentals of building fast, modern websites with Astro.</p>
        <div id="links">
            <a href="/docs" class="button">Get Started</a>
            <a href="/blog">Read the Blog</a>
        </div>
    </div>