---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

import "@styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="fondo-degrade">
		<Header />
		<main>
			<slot />
		</main>
		<!-- Footer component -->
		<Footer />
	</body>
</html>
<style>
	
    .fondo-degrade {
		background-image: linear-gradient(142.56deg, #322C7A 21.68%, #30ABBD 80.35%);
    }
	
</style>